<<<<<<< HEAD
body{
  background-color: rgb(16, 15, 43);
}

header{
  padding: 1.8rem;
  font-size: 20px;
  color: #f0f8ff;
  background-image: linear-gradient(to bottom, black, rgb(16, 15, 43));
}

#filtros{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: rgb(16, 15, 43);
  color: #f0f8ff;
}

.form-check{
  padding: 1.3rem;
}

.atividades .card-body{
  margin: 0;
}

.atividade{
  margin: 0.5rem;
}

.atividades .header-completa{
  background-color: rgb(29, 94, 29);
  color:aliceblue;
}

.atividades .card-body{
  background-color: rgb(16, 15, 43);
  color: aliceblue;
}


.atividades .header-incompleta{
  background-color: rgb(170, 168, 64);
  color:aliceblue;
}
.atividades .header-nao-iniciada{
  background-color: rgb(172, 17, 17);
  color:aliceblue;
=======
body{
  background-color: rgb(16, 15, 43);
}

header{
  padding: 1.8rem;
  font-size: 20px;
  color: #f0f8ff;
  background-image: linear-gradient(to bottom, black, rgb(16, 15, 43));
}

.filtro{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: rgb(16, 15, 43);
  color: #f0f8ff;
}

.form-check{
  padding: 1.3rem;
}

.atividades .card-body{
  margin: 0;
}

.atividade{
  margin: 0.5rem;
}

.atividades .header-completa{
  background-color: rgb(29, 94, 29);
  color:aliceblue;
}

.atividades .card-body{
  background-color: rgb(16, 15, 43);
  color: aliceblue;
}


.atividades .header-incompleta{
  background-color: rgb(170, 168, 64);
  color:aliceblue;
}
.atividades .header-nao-iniciada{
  background-color: rgb(172, 17, 17);
  color:aliceblue;
>>>>>>> 8404c47983fc5da353a32d512e4bfb6621e3419d
}